.Acceuil {
    background-color: rgb(73, 73, 73);
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-comics {
        margin-top: 2rem;
        display: flex;
        width: 80%;
        border-radius: 3px;
    }

    .icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 15rem;
        height: 4rem;

        .precedent {
            transform: rotate(180deg);
        }

        .btn {
            width: 3rem;
            height: 3rem;
            background-color: whitesmoke;
            margin-right: 0.5rem;
            border-radius: 50%;
        }
    }

    .like-com {
        display: flex;
        justify-content: space-around;
        width: 30rem;
        background-color: rgb(73, 73, 73);
    }

    .ajouter-commentaire {
        display: flex;
        align-items: center;

        input[type="text"] {
            width: 10rem; /* Width when not focused */
            padding: 0.5rem;
            border: none; /* No border initially */
            background-color: rgb(73, 73, 73);
            border-bottom: 1px solid rgb(182, 182, 182); /* Just a bottom border */
            border-radius: 0; /* No border radius */
            margin-right: 0.5rem;
            transition: width 0.3s ease, border 0.3s ease; /* Animate the width and border change */
        }

        input[type="text"]:focus {
            width: 18rem; /* Width when focused */
            outline: none; /* Remove default outline */
        }

        button {
            padding: 0.5rem 1rem;
            border: none;
            background-color: orange;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darkorange;
            }
        }
    }
}
